<footer id="contacts" class="footer">
  <div class="footer__content">
    <div class="container">
      <div class="footer__inner">
        <div class="header__logo footer__logo">
          <a href="#">
            BestTravel
          </a>
        </div>
        <div class="footer__col footer__col-countries">
          <div class="footer__col-title">
            Гид по странам
          </div>
          <ul class="footer__col-list">
            <li><a href="#">Путевки в Турцию</a></li>
            <li><a href="#">Путевки в Таиланд</a></li>
            <li><a href="#">Путевки в Грецию</a></li>
            <li><a href="#">Путевки в Испанию</a></li>
            <li><a href="#">Путевки в Египет</a></li>
            <li><a href="#">Путевки в Вьетнам</a></li>
            <li><a href="#">Путевки в Израиль</a></li>
            <li><a href="#">Путевки в ОАЭ</a></li>
          </ul>
        </div>
        <div class="footer__col footer__col-company">
          <div class="footer__col-title">
            О компании
          </div>
          <ul class="footer__col-list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Медиа</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="#">Команда</a></li>
            <li><a href="#">Вакансии</a></li>
            <li><a href="#">Общая информация</a></li>
            <li><a href="#">Служба поддержки</a></li>
          </ul>
        </div>
        <div class="footer__col footer__col-adress">
          <div class="footer__col-title">
            Контакты
          </div>
          <a class="footer__info footer__info-email" href="mailto:info-BestTravel@mail.ru">
            info-BestTravel@mail.ru
          </a>
          <a class="footer__info footer__info-phone" href="tel:79049384127">
            +7 (904) 938-41-27
          </a>
          <a id="button"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="container">
      <div class="footer__copy-inner">
        <div class="footer__copy-text">
          © BestTravel 2020. Все права защищены.
        </div>
        <ul class="footer__copy-social">
          <li>
            <a class="footer__copy-link link-twitter" href="https://twitter.com/?lang=ru"></a>
          </li>
          <li>
            <a class="footer__copy-link link-facebook" href="https://ru-ru.facebook.com/"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>