<header class="header" style="background-image: url(img/header-bg.png);">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__logo">
          <a href="#">
            BestTravel
          </a>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li>
              <a href="#">
                Проживание
              </a>
            </li>
            <li>
              <a href="#">
                События
              </a>
            </li>
            <li>
              <a href="#">
                Туры
              </a>
            </li>
            <li>
              <a href="#">
                Бонусы
              </a>
            </li>
            <li>
              <a href="#">
                О нас
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__search">
        <div class="header__search-title">
          Добро пожаловать на <span>BestTravel</span> 
        </div>
        <div class="header__search-text">
          Мы покажем все туры, а вам останется только успеть купить лучшее
        </div>
        <div class="header__search-form">
          <form>
            <input type="text" placeholder="Страна, курорт или отель" required>
            <button type="submit">Найти
              <img src="img/icons.." alt="">
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>