<header id="home" class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__logo">
          <a href="#">
            BestTravel
          </a>
        </div>
        <nav class="menu">
          <div class="menu__btn">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="#home">
                Главная
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#tours">
                Туры
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#housing">
                Проживание
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#events">
                События
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#contacts">
                О нас
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__search">
        <div class="header__search-title">
          Добро пожаловать на <span>BestTravel</span> 
        </div>
        <div class="header__search-text">
          Мы покажем все туры, а вам останется только успеть купить лучшее
        </div>
        <div class="header__search-form">
          <form>
            <input type="text" placeholder="Страна, курорт или отель" required>
            <button type="submit">
              Найти
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>